@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  src: url("/IRANSansX-Bold.woff") format("woff");
}

body {
  height: 70vh;
  display: flex;
  flex-direction: column;
  font-family: "IRANSansX";
  justify-content: center;
}
